# Simpson's Paradox
Use `admission_data.csv` for this exercise.

In [2]:
# Load and view first few lines of dataset
import pandas as pd

df = pd.read_csv('admission_data.csv')
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

### Proportion and admission rate for each gender

In [4]:
df.shape[0]

500

In [6]:
len(df[df['gender'] == 'female'])

257

In [7]:
# Proportion of students that are female
len(df[df['gender'] == 'female'])/df.shape[0]

0.514

In [8]:
# Proportion of students that are male
len(df[df['gender'] == 'male'])/df.shape[0]

0.486

In [10]:
df[(df['gender']=='female') & (df['admitted'])].head()

    student_id  gender      major  admitted
4        53714  female    Physics      True
7        27648  female  Chemistry      True
11       53708  female  Chemistry      True
28       55249  female  Chemistry      True
47       54442  female    Physics      True

In [11]:
# Admission rate for females
len(df[(df['gender']=='female') & (df['admitted'])])/(len(df[df['gender']=='female']))

0.28793774319066145

In [12]:
# Admission rate for males
len(df[(df['gender']=='male') & (df['admitted'])])/(len(df[df['gender']=='male']))

0.48559670781893005

### Proportion and admission rate for physics majors of each gender

In [20]:
# What proportion of female students are majoring in physics?
fem_phys_rate = df.query("gender == 'female' & major == 'Physics'").count()/(df.query("gender == 'female'").count())
print(fem_phys_rate)

student_id    0.120623
gender        0.120623
major         0.120623
admitted      0.120623
dtype: float64

In [21]:
# What proportion of male students are majoring in physics?
male_phys_rate = df.query("gender == 'male' & major == 'Physics'").count()/(df.query("gender == 'male'").count())
print(male_phys_rate)

student_id    0.925926
gender        0.925926
major         0.925926
admitted      0.925926
dtype: float64

In [24]:
# Admission rate for female physics majors
len(df[(df['gender']=='female') & (df["major"] == 'Physics') & (df['admitted'])])/len(df[(df["gender"]=='female') 
& (df["major"] == 'Physics')])

0.7419354838709677

In [25]:
# Admission rate for male physics majors
len(df[(df['gender']=='male') & (df["major"] == 'Physics') & (df['admitted'])])/len(df[(df["gender"]=='male') 
& (df["major"] == 'Physics')])

0.5155555555555555

### Proportion and admission rate for chemistry majors of each gender

In [27]:
# What proportion of female students are majoring in chemistry?
fem_chem_rate = df.query("gender == 'female' & major == 'Chemistry'").count()/(df.query("gender == 'female'").count())
print(fem_chem_rate)

student_id    0.879377
gender        0.879377
major         0.879377
admitted      0.879377
dtype: float64

In [26]:
# What proportion of male students are majoring in chemistry?
male_chem_rate = df.query("gender == 'male' & major == 'Chemistry'").count()/(df.query("gender == 'male'").count())
print(male_chem_rate)

student_id    0.074074
gender        0.074074
major         0.074074
admitted      0.074074
dtype: float64

In [29]:
# Admission rate for female chemistry majors
len(df[(df['gender']=='female') & (df["major"] == 'Chemistry') & (df['admitted'])])/len(df[(df["gender"]=='female') 
& (df["major"] == 'Chemistry')])

0.22566371681415928

In [28]:
# Admission rate for male chemistry majors
len(df[(df['gender']=='male') & (df["major"] == 'Chemistry') & (df['admitted'])])/len(df[(df["gender"]=='male') 
& (df["major"] == 'Chemistry')])

0.1111111111111111

### Admission rate for each major

In [32]:
# Admission rate for physics majors
len(df[(df["major"] == 'Physics') & (df['admitted'])])/len(df[df["major"] == 'Physics'])

0.54296875

In [33]:
# Admission rate for chemistry majors
len(df[(df["major"] == 'Chemistry') & (df['admitted'])])/len(df[df["major"] == 'Chemistry'])

0.21721311475409835